/* Footer */
.footer {
  background: linear-gradient(to right, #0b0b0b, #1c1c1c);
  padding: 40px 20px;
  color: #f1f1f1;
  text-align: start;
}
.footer .container .footer-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #d32f2f;
}

.footer ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul a {
  text-decoration: none;
  color: #f1f1f1;
  transition: color 0.3s ease-in-out;
}

.footer ul a:hover {
  color: #d32f2f;
}

.footer .social-icons a {
  color: #f1f1f1;
  font-size: 1.2em;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer .social-icons a:hover {
  color: #d32f2f;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
  color: #ccc;
  text-align: center;
}
@media (max-width:768px) {
    .footer .container .footer-row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .footer h3 {
      font-size: 1em;
      margin-bottom: 15px;
      color: #d32f2f;
    }
    
    .footer ul {
      list-style: none;
      margin-bottom: 20px;
    }
    
    .footer ul li {
      margin-bottom: 5px;
      font-size: 0.8em;
    }
    
    .footer ul a {
       text-decoration: none;
      color: #f1f1f1;
      transition: color 0.3s ease-in-out;
    }
    
    .footer ul a:hover {
      color: #d32f2f;
    }
    
    .footer .social-icons a {
      color: #f1f1f1;
      font-size: 1.2em;
      margin: 0 10px;
      transition: color 0.3s ease-in-out;
    }
    
    .footer .social-icons a:hover {
      color: #d32f2f;
    }
    
    .footer-bottom {
      font-size: 0.7em;
    }
}
