/* Footer */
.footer {
  background-color: #850009;
  padding: 40px 20px;
  color: #f1f1f1;
  text-align: start;
}

.footer .container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer .container .footer-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .footer-column {
  flex: 1; 
  min-width: 300px; 
  padding: 20px 5px;
  text-align: left;
}

.footer h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul a {
  text-decoration: none;
  color: #f1f1f1;
  transition: color 0.3s ease-in-out;
}

.footer ul a:hover {
  color: #8d88f8;
}

.footer .social-icons {
  display: flex;
  align-items: center;
}

.footer .social-icons a {
  color: white;
  font-size: 2em;
  margin: 0 8px;
  transition: color 0.3s ease-in-out;
}

.footer .social-icons a:hover {
  color: #dddddd;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
  color: #ccc;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer .container .footer-row {
    flex-direction: column;
    align-items: left; /* Centers the sections vertically on smaller screens */
  }

  .footer .footer-column {
    flex: unset; /* Allows columns to stack vertically */
    min-width: unset;
    margin-bottom: 20px;
    padding: 0;
  }

  .footer-bottom {
    font-size: 0.7em;
  }
}
