
body {
  line-height: 1.6;
}
/* Header */
header {
  text-align: center;
  background: linear-gradient(to right, #a00000, #b71c1c);
  padding: 5px 0;
  color: #fff;
}

header h1 {
  font-size: 1.2em;
  font-weight: bold;
}

header p {
  font-size: 1.2em;
  font-style: italic;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 1em;
        font-weight: bold;
      }
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  top: 0;
  position: sticky;
  z-index: 999;
}

.navbar img {
  width: 80px;
  height: auto;
  margin: 5px 10px;
}

.navbar nav {
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar nav a {
  text-decoration: none;
  color: #2a2a2a;
  padding: 2px 12px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.navbar nav a:hover {
  background: #b71c1c;
  color: #fff;
}

/* Mobile Menu */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin: 5px 10px;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background: #434343;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar{
    justify-content: space-between;
  }
  .navbar nav {
    display: none;
    flex-direction: column;
  }

  .menu-icon {
    display: flex;
  }
  .navbar nav {
    display: none;
    flex-direction: column;
    background: aliceblue;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    text-align: right;
  }

  .navbar.show nav {
    display: flex;
  }

  /* Menu Icon Transformation (to Close) */
  .menu-icon.close .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-icon.close .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.close .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
