#slider-container {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 70vh;
  position: absolute;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-arrow {
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#arrow-prev {
  left: 20px;
}

#arrow-next {
  right: 20px;
}

#dots-wrapper {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.dot-navigation {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  margin: 0 4px;
}

.active-dot {
  background-color: rgb(56, 56, 56);
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* Media query for laptops */
@media (max-width: 1200px) {
  #slider-container, .slide {
    height: 80vh; /* Reduce the height for laptop screens */
  }

  .slider-arrow {
    font-size: 40px; /* Adjust arrow size */
  }

  #dots-wrapper {
    bottom: 20px; /* Adjust dot positioning */
  }
}

/* Media query for tablets */
@media (max-width: 768px) {
  #slider-container, .slide {
    height: 70vh; /* Further reduce the height for smaller screens */
  }

  .slider-arrow {
    font-size: 35px; /* Adjust arrow size */
  }

  #dots-wrapper {
    bottom: 15px; /* Adjust dot positioning */
  }
}

@media (max-width: 480px) {
  #slider-container, .slide {
    height: 60vh;
  }

  .slider-arrow {
    font-size: 30px; /* Adjust arrow size */
  }

  #dots-wrapper {
    bottom: 10px; /* Adjust dot positioning */
  }
}
